<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">RPPP Homework - Group 03</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
        </li>      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Viktorija Šturlić-Tupek
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="nav-link" asp-action="Index" asp-controller="ProjektMD2">ProjektMD (STP)</a></li>
              <li><a class="nav-link" asp-action="Index" asp-controller="ProjektMD2Report">Uvoz i izvoz</a></li>
              <li><a class="nav-link" asp-action="Index" asp-controller="ProjektMD">ProjektMD (STP)</a></li>
              <li><a class="nav-link" asp-action="Index" asp-controller="Projekt">Projekt (JTP)</a></li>
              <li><a class="nav-link" asp-action="Index" asp-controller="Dokumenti">Dokumenti (JTP)</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Emanuel Njegovec
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" asp-action="Index" asp-controller="ProjektnaKarticaMDv2">Projektna Kartica (2. ciklus)</a></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="ProjektnaKarticaMDv2UvozIzvoz">Izvoz i uvoz</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="ProjektnaKarticaMD">Projektna Kartica (STP)</a></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="ProjektnaKartica">Projektna Kartica (JTP)</a></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="Transakcija">Transakcija (JTP)</a></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="Transakcija">Transakcija (JTP)</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ena Samaržija
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" asp-action="Index" asp-controller="ZahtjevMD">Zahtjev (STP)</a></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="ZahtjevSTPReport">Uvoz/izvoz podataka</a></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="Zahtjev">Zahtjev (JTP)</a></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="ZadatakDetail">Zadatak (JTP)</a></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="VrstaZahtjeva">Vrsta Zahtjeva(JTP)</a></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="PrioritetZahtjeva">Prioritet Zahtjeva(JTP)</a></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="Status">Status (JTP)</a></li>
            </ul>
        </li>
        <!--jer ja vise nikada necu da spavam
            jer kada spavama ja gluposti sanjam,
            krvna slika mi je losija
            zato zivjela insomnija
        -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Luka Lulić
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="nav-link" asp-action="Index" asp-controller="ZadatakMD2">ZadatakMD (STP) - Drugi Ciklus</a></li>
                <li><a class="nav-link" asp-action="Index" asp-controller="ZadatakMD2Report">Uvoz i Izvoz</a></li>
                <hr></hr>
                <li><a class="nav-link" asp-action="Index" asp-controller="ZadatakMD">ZadatakMD (STP)</a></li>
                <li><a class="nav-link" asp-action="Index" asp-controller="EvidencijaRada">Evidencija Rada (JTP)</a></li>
                <li><a class="nav-link" asp-action="Index" asp-controller="Zadatak">Zadatak (JTP)</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Šimun Banović
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">OSOBA</a></li>
                <li><a class="dropdown-item" href="#">EVIDENCIJA_ULOGA</a></li>
                // <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">ORGANIZACIJA</a></li>
                <li><a class="dropdown-item" href="#">ULOGA</a></li>
                <li><a class="dropdown-item" href="#">PROJEKT</a></li>
            </ul>
        </li>
        </ul>
     
    </div>
  </div>
</nav>