@{
    ViewData["Title"] = "Projektne kartice i transakcije";
}

<h2>@ViewData["Title"]</h2>

<ul>
    <li>
        <a asp-action="KarticeMD">Excel - Projektne kartice sa transakcijama</a>
    </li>
    <li>
        <a asp-action="ProjektneKartice">Excel - Projektne kartice</a>
    </li>
    <li>
        <a asp-action="Transakcije">Excel - Transakcije</a>
    </li>
    <li>
        <a asp-action="ProjektneKarticePDF">PDF - Projektne kartice</a>
    </li>
    <li>
        <a asp-action="TransakcijePDF">PDF - Transakcije</a>
    </li>
</ul>

<h3>Uvezi projektne kartice</h3>

<form method="post" enctype="multipart/form-data" asp-action="UvozProjektnaKartica">
    <div class="form-group">
        <label for="excelFile">Odaberite Excel datoteku:</label>
        <input type="file" class="form-control-file" id="excelFile" name="excelFile" accept=".xlsx">
    </div>
    <button type="submit" class="btn btn-primary">Uvezi podatke</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success mt-3" role="alert">
        @ViewBag.Message
    </div>
}

<h3>Uvezi transakcije</h3>

<form method="post" enctype="multipart/form-data" asp-action="UvozTransakcija">
    <div class="form-group">
        <label for="excelFile">Odaberite Excel datoteku:</label>
        <input type="file" class="form-control-file" id="excelFile2" name="excelFile2" accept=".xlsx">

    </div>
    <button type="submit" class="btn btn-primary">Uvezi podatke</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success mt-3" role="alert">
        @ViewBag.Message
    </div>
}